.container
  .row
    .col-md-6.offset-3
      .box
        .cell.title 登录
        .inner
          = simple_form_for(:session) do |f|
            = f.input :nickname, :label => '用户名', :input_html => {:autofocus => true}
            = f.input :password, :label => '密码'
            .form-actions
              = f.submit '登入'
