= simple_form_for @comment, :remote => true do |f|
  %legend 修改回复
  = f.input :content, :input_html => {:autofocus => true, :rows => 3, :class => :span5}, :label => false
  .form-actions
    = f.submit '保存', :class => 'btn btn-small btn-primary'
