.box
  .cell
    = build_admin_navigation([@title])
  .cell
    %table.table.table-bordered
      %tr
        %td.h{:width => 110} 时间
        %td.h{:width => 80} 帐户
        %td.h{:width => 60} 数额
        %td.h{:width => 60} 当前余额
        %td.h{:width => 80} 管理员
        %td.h.last{:width => :auto} 理由

      = render @rewards
  .inner
    = paginate @rewards

