<div class="md:p-4 hidden md:block" style="">
  <div class="flex flex-col gap-2">
    <div class="flex gap-4">
      <div class="w-1/2" style="max-width: 396px; overflow: auto;">
        <%= image_tag '/assets/articles/1.jpg.avif', class: 'rounded-md', style: "max-height: 198px; overflow: hidden;" %>
        <div class="text-lg font-bold mt-2"><a href="/articles/1">Ditch your free plan</a></div>
        <div class="text-zinc-500 mt-2">3% of users upgrade to paid plans. So If you have a $5/month plan, your average user is worth $0.15.</div>
        <div class="flex items-center text-orange-600 mt-2">
          <%= image_tag '/assets/avatar/fun.png', class: 'rounded-full', style: 'width: 32px;' %>
          <span class="ml-2">Marc Lou</span>
        </div>
      </div>
      <div class="w-1/2" style="max-width: 396px; overflow: auto;">
        <%= image_tag '/assets/articles/2.png.avif', class: 'rounded-md', style: "max-height: 198px; overflow: hidden;" %>
        <div class="text-lg font-bold mt-2"><a>My solopreneur story: $0 to $65,000/month in 2 years</a></div>
        <div class="text-zinc-500 mt-2">After being fired by Tai Lopez in November 2021, I launched startups like a madman to buy freedom.</div>
        <div class="flex items-center text-orange-600 mt-2">
          <%= image_tag '/assets/avatar/fun.png', class: 'rounded-full', style: 'width: 32px;' %>
          <span class="ml-2">Marc Lou</span>
        </div>
      </div>
    </div>
  </div>
</div>
