<div class="flex">
  <div class="flex-grow bg-slate-50 h-screen">
    <div class="flex gap-4 items-baseline px-4 py-2">
      <div class="text-orange-700 dark:text-zinc-300 font-bold">
        <a href="/articles">最新文章</a>
      </div>
      <div class="text-zinc-700 dark:text-zinc-300">
        <a href="#">精华文章</a>
      </div>
    </div>
    <%= render 'articles' %>
  </div>
  <div class="w-1/3" style="">
    <%= render 'welcome/topics' %>
  </div>
</div>
