<div class="md:flex">
  <div>
    <%= render 'welcome/navbar' %>
  </div>
  <div class="w-full">
    <div style=" width: 100%;">
      <div class="flex gap-4 items-baseline border-b border-b-stone-200 px-4 py-2">
        <div class="text-zinc-700 dark:text-zinc-300 font-bold">
          <a href="/articles">最新文章</a>
        </div>
        <div class="text-zinc-700 dark:text-zinc-300">
          <a href="/">成员动态</a>
        </div>
      </div>
    </div>
    <div class="flex">
      <div class="">
        <%= render 'articles' %>
      </div>
      <div class="" style="width: 380px;">
        <%= render 'welcome/topics' %>
      </div>
    </div>
  </div>
</div>
