= form_for [@node, @topic], :remote => :true do |f|
  = label_tag '移动到新节点'
  %br
  = select_tag "new_node_id", option_groups_from_collection_for_select(Plane.default_order.all, :nodes, :name, :id, :name, f.object.node.id)
  %br
  = f.submit '开始移动', :class => 'btn btn-small'
