- comments_count = topic.comments_count
.cell.topic{:class => topic_user.can_manage_site? ? 'admin' : ''}
  %table{:cellpadding => 0, :cellspacing => 0, :border => 0, :width => '100%'}
    %tr
      %td{:valign => :top, :class => :avatar}
        = user_profile_avatar_link(topic_user, :mini)
      %td{:valign => :top, :style => 'padding-left: 12px'}
        - if comments_count > 0
          .fr
            = link_to comments_count, t_path(topic.id), :class => :count
        .sep3
        %span.bigger{:style => 'font-size: 16px; line-height: 130%'}
          = link_to topic.title, t_path(topic.id), :class => 'rabel topic'

