= form_for [@node, @topic], :url => update_title_node_topic_path(@node, @topic), :remote => true do |f|
  %a{:name => 'new_topic'}
  = f.label :title, '标题'
  .sep5
  = f.text_area :title, :class => :span4, :rows => 2, :autofocus => true
  .sep5
  = f.submit '提交修改', :class => 'btn btn-small', :data => {:disable_with => t('tips.submitting')}
