= form_for [@node, @topic], :url => update_title_node_topic_path(@node, @topic), :remote => true do |f|
  %a{:name => 'new_topic'}
  = f.label :title, '标题'
  .sep5
  = f.text_area :title, :class => :ml, :autofocus => true
  .sep10
  = f.submit '提交修改', :class => 'super normal button', :data => {:disable_with => t('tips.submitting')}
