= form_for [@channel, @topic], :url => update_title_channel_topic_path(@channel, @topic), :remote => true do |f|
  %a{:name => 'new_topic'}
  = f.label :title, '标题'
  .sep5
  = f.text_area :title, :class => 'form-control', :rows => 2, :autofocus => true
  .sep5
  = f.submit '提交修改', :class => 'btn btn-small btn-success', :data => {:disable_with => t('tips.submitting')}
