<div class="md:p-4 md:overflow-hidden h-screen">
  <div class="md:mb-4">
    <div class="mb-2 text-zinc-700 font-bold dark:text-zinc-300">聊天群</div>
    <div class="flex flex-col gap-2 text-stone-500">
      <div class=" text-sm flex items-center gap-2">
        <div><a href="/" class="hover:text-orange-700 dark:text-zinc-400 dark:hover:text-orange-500">SOLO 独立开发者交流群</a></div>
      </div>
      <div class=" text-sm flex items-center gap-2">
        <a href="/" class="hover:text-orange-700 dark:text-zinc-400 dark:hover:text-orange-500">出海去孵化器</a>
      </div>
      <div class=" text-sm flex items-center gap-2">
        <a href="/" class="hover:text-orange-700 dark:text-zinc-400 dark:hover:text-orange-500">Ruby China</a>
      </div>
    </div>
  </div>
</div>
