<div class="md:flex">
  <div>
    <%= render 'welcome/navbar' %>
  </div>
  <div class="w-full">
    <div style=" width: 100%;">
      <div class="flex gap-4 items-baseline border-b border-b-stone-200 px-4 py-2">
        <div class=" text-zinc-700 font-bold dark:text-zinc-300">公共聊天室</div>
      </div>
    </div>
    <div class="md:flex">
      <div class="flex-grow min-w-[480px]">
        <%= render 'explore' %>
      </div>
      <div class="">
        <%= render 'detail' %>
      </div>
    </div>
  </div>
</div>
