<div class="flex h-screen">
  <div class="bg-slate-50" style="width: 60%;">
    <div class="flex gap-4 items-baseline px-4 py-2">
      <div class=" text-orange-700 font-bold dark:text-zinc-300">公共聊天室</div>
    </div>
    <%= render 'explore' %>
  </div>
  <div class="">
    <%= render 'detail' %>
  </div>
</div>
