= simple_form_for [:admin, @node], :url => move_to_admin_node_path(@node), :remote => true do |f|
  %legend 移动到新位面
  = f.select :plane_id, options_from_collection_for_select(Plane.all - [@node.plane], :id, :name)
  .form-actions
    = f.submit '开始移动', :class => 'btn btn-small btn-primary'

