.cell.node{:id => node.html_id}
  .fr
    = admin_edit_button('修改节点', node, :remote => true)
    = admin_delete_button(node, :remote => true) if node.can_delete?
  = link_to node.name, go_path(node.key)
  - if node.quiet
    = image_tag 'ghost.png', :align => :top, :title => t('tips.quiet_node')
