%tr
  %td{:align => :left, :valign => :top, :width => 24}
    = mini_avatar(followed_user)
  %td{:align => :left, :valign => :top, :width => :auto, :style => 'padding-left: 10px;'}
    = user_profile_link(followed_user)
    - if followed_user.account.signature.present?
      .sep3
      %small.fade= followed_user.account.signature
    .sep3
    %small.fade
      = followed_user.follower_count
      followers

