.box
  .box-header
    社区运行状态
  .inner
    %table{:cellpadding => 3, :cellspacing => 0, :border => 0, :width => '100%'}
      %tr
        %td{:align => :right, :width => 60}
          %span.gray 注册会员
        %td{:align => :left}
          %strong= User.cached_count
      %tr
        %td{:align => :right, :width => 50}
          %span.gray 话题
        %td{:align => :left}
          %strong= Topic.cached_count
      %tr
        %td{:align => :right, :width => 50}
          %span.gray 回复
        %td{:align => :left}
          %strong= Comment.cached_count
