.box
  .box-header
    社区运行状态
  .inner
    %table.table.table-striped
      %tr
        %td
          %span.gray 注册会员
        %td
          %strong= User.cached_count
      %tr
        %td
          %span.gray 话题
        %td
          %strong= Topic.cached_count
      %tr
        %td
          %span.gray 回复
        %td
          %strong= Comment.cached_count
