= link_to '预览', 'javascript:void(0);', :class => 'action_label preview', :data => {:ref => ref, :type => type}
= link_to '返回修改', 'javascript:void(0);', :class => 'action_label cancel_preview hide', :data => {:ref => ref}
#preview
