<%= content_for :nav_links do %>
  <%= render 'welcome/header_links' %>
<% end %>
<h1 class="hidden"><%= @section.name %></h1>
<div class="h-screen">
  <div class="flex flex-col gap-4 p-4">
    <%= render @mini_logs %>
  </div>
</div>
