<%= content_for :nav_links do %>
  <div class="flex gap-4 items-baseline border-b border-stone-200 px-4 py-2">
    <%= render 'welcome/header_links' %>
  </div>
<% end %>
<h1 class="hidden"><%= @section.name %></h1>
<div class="h-screen">
  <div class="flex flex-col gap-4 p-4">
    <%= render @mini_logs %>
  </div>
</div>
