<%= render 'navbar' %>
<div class="pt-4">
  <div class="w-2/3 mx-auto">
    <div class="flex gap-6">
      <div class="w-1/2">
        <div class="mb-2 text-orange-700">近期焦点</div>
        <div><%= image_tag '1.png', alt: '对话深势科技张林峰：北大90后独角兽公司，要做微观世界的Sora？' %></div>
      </div>
      <div class="w-1/2">
        <div class="mb-2 text-orange-700">社区热议</div>
        <div class="flex flex-col">
          <div class="text-zinc-700 overflow-auto text-sm mt-2">
            <a href="/" class="hover:text-orange-700">云鲸逍遥001新品发布：极致全智能清洁体验，高端旗舰新标杆</a>
          </div>
          <div class="text-zinc-700 overflow-auto text-sm mt-2">
            <a href="/" class="hover:text-orange-700">24.98万起的理想L6，可能是接下来的销量王</a>
          </div>
          <div class="text-zinc-700 overflow-auto text-sm mt-2">
            <a href="/" class="hover:text-orange-700">华为 Pura 70 Ultra 把移动影像带进了下一个次元</a>
          </div>
          <div class="text-zinc-700 overflow-auto text-sm mt-2">
            <a href="/" class="hover:text-orange-700">狂奔一年，钉钉把半条命交给 AI</a>
          </div>
          <div class="text-zinc-700 overflow-auto text-sm mt-2">
            <a href="/" class="hover:text-orange-700">Perplexity认为Google、Meta、马斯克和整个世界都在抄袭它</a>
          </div>
          <div class="text-zinc-700 overflow-auto text-sm mt-2">
            <a href="/" class="hover:text-orange-700">九号的出海启示：把车卖到美国欧洲，也没那么难？</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
