<%= content_for :nav_links do %>
  <% NavLink.header.each do |link| %>
    <div class=" text-zinc-700 dark:text-zinc-300">
      <%= link_to_active link.title, link.url, request.path %>
    </div>
  <% end %>
<% end %>
<div class="flex-grow">
  <%= render 'feed' %>
</div>
<div class="w-1/3" style="">
  <%= render 'topics' %>
</div>
