<div class="flex">
  <div class="flex-grow bg-slate-50">
    <div class="flex gap-4 items-baseline px-4 py-2 header">
      <%= render 'header_links' %>
    </div>
    <%= render 'feed' %>
  </div>
  <div class="w-1/3" style="">
    <%= render 'topics' %>
  </div>
</div>
