<div class="flex gap-2 p-2 rounded-lg bg-white shadow-md border-stone-200">
  <div style="width: 32px;">
    <div class="border border-zinc-200 rounded-full flex items-center justify-center text-orange-500" style="width: 32px; height: 32px;">
      <%= mini_log.user.nickname[0] %>
    </div>
  </div>
  <div class="w-full">
    <div class="flex gap-2 items-center justify-between w-full">
      <span class="text-zinc-700 dark:text-zinc-300 font-bold"><%= mini_log.user.nickname %></span>
      <span class="text-zinc-400 text-xs"><%= time_ago_in_words(mini_log.created_at) %></span>
    </div>
    <div class="dark:text-zinc-400 dark:hover:text-zinc-300 text-zinc-600 mt-2 markdown">
      <%= parse_markdown(mini_log.content) %>
      <div class="mb-2"></div>
    </div>
    <div class="flex gap-2 text-zinc-400 dark:text-zinc-300">
      <div>2 Comments</div>
      <div>2 Repost</div>
      <div>28 Likes</div>
      <div>4.8K Views</div>
    </div>
  </div>
</div>
