.box
  .cell
    = build_navigation([@title])
  .inner
    - if current_user && current_user.can_manage_site?
      .fr
        = link_to '修改', edit_admin_page_path(@page), :class => :op
    .page
      %article
        %h1
          = @title
          - unless @page.published
            %small (草稿)
        = format_page @page.content

