<div class="md:flex">
  <div>
    <%= render 'welcome/navbar' %>
  </div>
  <div class="md:flex md:gap-2" style="margin-left: 200px;">
    <div class="flex-grow min-w-[480px]">
      <div class="p-4">
        <h1 class="font-bold text-2xl"><%= @page.title %></h1>
        <p><%= @page.content %></p>
      </div>
    </div>
    <div class="">
    </div>
  </div>
</div>
