# host name, e.g. 'www.apple.com' or 'twitter.com'
RABEL_HOST_NAME: 'example.com'

# address for system emails, e.g. 'no-replya@twitter.com'
RABEL_SYSTEM_EMAIL: 'hello@example.com'

# session key, e.g. '_twitter_9527_session'
RABEL_SESSION_KEY: '_example_session'

# use `$ rake secret` to generate a new secret key
RABEL_SECRET_KEY:

# Devise secret key
# use `$ rake secret` to generate a new secret key
RABEL_DEVISE_SECRET_KEY:

# memcached config, leave as default in most cases
RABEL_MEMCACHED_SERVER: '127.0.0.1:11211'
RABEL_MEMCACHED_USERNAME: ''
RABEL_MEMCACHED_PASSWORD: ''
RABEL_MEMCACHED_NAMESPACE: 'example'

# upyun storage service

# change to 'on' to turn on image upload
RABEL_UPYUN_SWITCH: 'off'

# operator name
RABEL_UPYUN_OP_NAME: 'example_name'

# operator password
RABEL_UPYUN_OP_PASSWORD: 'example_password'

# bucket name
RABEL_UPYUN_BUCKET: 'example_bucket'

# bucket host name
RABEL_UPYUN_BUCKET_HOST: 'http://example.b0.upaiyun.com'

# qiniu storage service

# change to 'on' to turn on image upload
RABEL_QINIU_SWITCH: 'off'

# access key
RABEL_QINIU_ACCESS_KEY: 'example_access_key'

# access token
RABEL_QINIU_SECRET_TOKEN: 'example_secret_token'

# bucket name
RABEL_QINIU_BUCKET: 'example_bucket'

# bucket domain
RABEL_QINIU_BUCKET_DOMAIN: 'example_domain.clouddn.com'

# upload protocol
RABEL_QINIU_PROTOCOL : 'http'
