<div class="flex h-screen">
  <div class="flex-grow bg-slate-50" style="">
    <div class="flex gap-4 items-baseline  px-4 py-2">
      <div class="text-orange-700 font-bold">最新动态</div>
      <div class="text-zinc-400">热门动态</div>
    </div>
    <%= render 'explore' %>
  </div>
  <div class="">
    <%= render 'detail' %>
  </div>
</div>
