<div class="md:flex">
  <div>
    <%= render 'welcome/navbar' %>
  </div>
  <div class="md:flex">
    <div class="" style="max-width: 60%;">
      <%= render 'explore' %>
    </div>
    <div class="">
      <%= render 'detail' %>
    </div>
  </div>
</div>
