.box
  .cell
    .fr
      = admin_create_button('上传文件', :cloud_file)
    = build_admin_navigation([@title])
  .cell
    %table{:width => '100%', :cellpadding => 5}
      %thead
        %tr
          %th{:align => :left} 简要描述
          %th 访问路径
          %th{:align => :right} 大小
          %th{:align => :right} 文件类型
          %th{:align => :center} 操作
      %tbody
        = render @files
  .inner
    = paginate @files
