<div class="">
  <div class="bg-white p-4 rounded-md m-4">
    <div class="flex gap-4 items-baseline mb-2">
      <div class="mb-2 text-zinc-700 font-bold dark:text-zinc-300">论坛板块</div>
    </div>
    <div class="md:mb-4">
      <div class="flex flex-col gap-4 text-stone-500">
        <% Section.sorted.find_each do |section| %>
          <div><%= link_to section.name, "/forum/section/#{section.key}" %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
