<div class="md:flex">
  <div>
    <%= render 'welcome/navbar' %>
  </div>
  <div class="md:flex md:gap-2">
    <div class="flex-grow">
      <%= render 'explore' %>
    </div>
    <div class="">
      <%= render 'detail' %>
    </div>
  </div>
</div>
