<%= content_for :nav_links do %>
  <div class="text-zinc-700 font-bold dark:text-zinc-300">最新讨论</div>
  <div class="text-zinc-400 dark:text-zinc-400">精华帖</div>
  <div class="text-zinc-400 dark:text-zinc-400">无人问津</div>
<% end %>
<div class="">
  <%= render 'explore' %>
</div>
<div class="w-1/3" style="">
  <%= render 'detail' %>
</div>
