<div id="sign-in-modal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="text-right">
      <span class="close">&times;</span>
    </div>
    <div>用户登录</div>
    <%= form_for :session, url: sessions_path do |f| %>
      <div>
        <label>昵称</label>
        <%= f.text_field :nickname %>
      </div>
      <div>
        <label>密码</label>
        <%= f.password_field :password %>
      </div>
      <%= f.submit '登录' %>
    <% end %>
  </div>
</div>
