<div id="sign-in-modal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="text-right">
      <span class="close">&times;</span>
    </div>
    <div>Some text in the Modal..</div>
  </div>
</div>
