<div id="sign-in-modal" class="modal">
  <div class="modal-content">
    <div class="text-right">
      <span class="close">&times;</span>
    </div>
    <div class="text-zinc-400">用户登录</div>
    <%= form_for :session, url: sessions_path do |f| %>
      <div class="mb-4">
        <div class="mt-4">
          <%= f.text_field :nickname, placeholder: '昵称', class: 'w-full', required: true %>
        </div>
        <div class="mt-2">
          <%= f.password_field :password, placeholder: '登录密码', class: 'w-full', required: true %>
        </div>
      </div>
      <%= f.submit '登录', class: 'btn-primary w-full mt-2 py-2' %>
    <% end %>
  </div>
</div>
