%strong 位面拖动排序
= render :partial => 'sort_plane', :collection => planes, :as => :plane, :formats => :html
.sort_actions.center
  = link_to '完成排序', 'javascript:window.location.reload()', :class => 'btn btn-small btn-primary'
