html,
body {
  font-size: 14px;
  background-color: #f7f7f7;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

header.navbar {
  background-color: #FFFFFF !important;
  box-shadow: 0 1px 2px #e2e2e2;
}

#page {
  min-height: 80vh;
  margin-top: 20px;

  .main-content {
    width: 70vw;
  }

  .sidebar {
    width: 25vw;
    margin-left: 2vw;
  }
}

#footer {
  .custom-footer {
    background-color: #f7f7f7;
    color: #999;
    padding-bottom: 10px;
  }
}

.fr {
  float: right;
}

.float-left {
  float: left;
}

.container {
  padding: 0;
}

.row>* {
  padding: 0;
}

a {
  text-decoration: none;
}

h2.topic-title {
  font-size: 1.4rem;
}

.box {
  background-color: #FFFFFF;
  box-shadow: 0 1px 2px #e2e2e2;
  margin-bottom: 20px;
  border-radius: 5px;

  .inner,
  .header,
  .cell {
    padding: 5px 10px;
  }

  .cell.title {
    border-bottom: 1px solid #eee;
    font-size: 1.5em;
  }
}

#new_comment textarea.form-control {
  border-radius: 0;
}

#comments {
  .comment {
    padding: 10px;
  }
}

.topic-title {
  font-size: 1.25rem;
}

.sep5 {
  height: 5px;
}

.sep10 {
  height: 10px;
}

input.form-control,
textarea.form-control,
select.form-control {
  border-radius: 0;
}

.form-group {
  margin-bottom: 10px;
}

.topic-title {
  font-size: 1.5rem;
  border-bottom: 1px solid #f3f3f3;
}

.center {
  text-align: center;
}

.glass {
  color: #999;
}

.pager {
  display: flex;
  color: #999;

  a {
    color: #999;
  }

  .prev,
  .next {
    width: 200px;
  }

  .info {
    flex-grow: 1;
    text-align: center;
  }

  .next {
    text-align: right;
  }
}

.topic-meta {
  color: #999;

  a {
    color: #999;
  }
}

.dropdown-menu {
  min-width: 70px;
  border-radius: 0;
}
