.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba($color: #717171, $alpha: 0.8)
}

.modal-content {
  margin: auto;
  padding: 10px;
  border-radius: 5px;

  form {
    margin: 0;
    padding: 0;
  }
}

.close {
  color: #eee;
  font-size: 20px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

a.active {
  font-weight: bold;
}
