html,
body {
  font-size: 14px;
  background-color: #f7f7f7;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

header.navbar {
  background-color: #FFFFFF !important;
  box-shadow: 0 1px 2px #e2e2e2;
}

#page {
  min-height: 100vh;
  margin-top: 20px;
}

.fr {
  float: right;
}

.float-left {
  float: left;
}

.container {
  padding: 0;
}

.row>* {
  padding: 0;
}

a {
  text-decoration: none;
}

h2.topic-title {
  font-size: 1.4rem;
}

.box {
  background-color: #FFFFFF;
  box-shadow: 0 1px 2px #e2e2e2;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

#new_comment textarea.form-control {
  border-radius: 0;
}

#comments {
  .comment {
    padding: 10px;
  }
}

.topic-title {
  font-size: 1.25rem;
}
