pre {
  color: #444;
  margin: 0;
}

.code {
  background: #F8F8F8;
  border: 1px solid #CCC;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

p > code, li > code {
  padding: 1px 3px;
  margin: 0 3px;
  font-size: 12px;
  color: #52595d;
}

.CodeRay { line-height: 5px; }
.content p { margin: 0 0 1em 0; }
.page p { margin: 0 0 3px 0; }

ol { margin-left: 10px; }
ul li { margin-left: 1em; }

.ml {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 3px;
  font-size: 14px;
  border: 1px solid #ccc;
  display: block;
  width: 320px;
  height: 160px;
  font-family: "Panic Sans", "Menlo", "DejaVu Sans Mono", "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti !important;
}

.ml:focus {
  border: 1px solid rgba(128, 128, 160, 0.6);
  -moz-box-shadow: 0px 0px 5px rgba(128, 128, 160, 0.5);
  -webkit-box-shadow: 0px 0px 5px rgba(128, 128, 160, 0.5);
  outline: none;
}

span.nickname {
  position: relative;
  top: -7px;
  color: #888;
  font-size: 11px;
}

td.with_separator {
  border-right: 1px solid rgba(100, 100, 100, 0.4);
}

td.with_background {
  background-color: #f9f9f9;
  border-left: 1px solid #f0f0f0;
  font-size: 12px;
  padding: 10px;
}

.pagination {
  span {
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti !important;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    padding: 0px 5px;

    &.current {
      color: #333;
      display: inline-block;
      font-weight: bold;
      font-size: 14px;
      line-height: 14px;
      padding: 2px 5px 2px 5px;
      background-color: #F0F0F0;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      margin: 0px 2px 0px 2px;
    }

    & a:link, & a:visited, & a:active {
      display: inline-block;
      padding: 2px 5px 2px 5px;
      background-color: #fff;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      margin: 0px 2px 0px 2px;
      text-decoration: none;
    }

    & a:hover {
      display: inline-block;
      padding: 2px 5px 2px 5px;
      background-color: #F93;
      color: #fff;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      margin: 0px 2px 0px 2px;
      text-decoration: none;
    }
  }

  .gap { color: #666; }
}

#BottomMain {
  color: #999;
  span.divider, small { color: #e2e2e2; }
}

table.reply {
  width: 100%;
  max-width: 100%;
  border-spacing: 0;
  margin-bottom: 18px;
  border: 1px solid #DDD;
  border-left: 0;
  border-collapse: separate;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  td, th {
    padding: 8px;
    line-height: 18px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #DDD;
    border-left: 1px solid #DDD;
  }

  & thead:first-child tr:first-child th {
    border-top: 0;
  }
}

.hrule { border-top: 1px solid #E2E2E2; height: 5px; }

blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 18px;
  border-left: 5px solid #EEE;
  width: 60%;

  ul {
    color: #999;

    li {
      list-style-type: none;
    }
  }
}

h1 small { color: #999; }
.help-inline { margin-left: 5px; }
.center { text-align: center; }
.alert-message { color: #B94A48; }
.notice-message { color: #06D; }
.topics_heading { color: #aaa; text-align: center; }
.quantity { text-align: right; }


table.data td.h {
  text-align: left;
  font-size: 12px;
  font-weight: bold;
  border-right: 1px solid #CCC;
  border-bottom: 2px solid #CCC;
  text-shadow: 0px 1px 0px white;
  background: whiteSmoke;
  background: -moz-linear-gradient(top, whiteSmoke 0%, #E2E2E2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,whiteSmoke), color-stop(100%,#E2E2E2));
  background: -webkit-linear-gradient(top, whiteSmoke 0%,#E2E2E2 100%);
  background: -o-linear-gradient(top, whiteSmoke 0%,#E2E2E2 100%);
  background: -ms-linear-gradient(top, whiteSmoke 0%,#E2E2E2 100%);
  background: linear-gradient(top, whiteSmoke 0%,#E2E2E2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='whiteSmoke', endColorstr='#E2E2E2',GradientType=0 );
}

table.data td.d {
  text-align: left;
  font-size: 12px;
  font-weight: normal;
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
}

table.data td.last {
  border-right: none;
}

img.mini_avatar {
  max-width: 24px;
  max-height: 24px;
}

img.medium_avatar {
  max-width: 48px;
  max-height: 48px;
}

img.large_avatar {
  max-width: 72px;
  max-height: 72px;
}

