- reset_url = edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
Hi #{@resource.nickname}:
%br/
%p 请点击下面的链接重新设置你的密码：
%p=link_to reset_url, reset_url
%p= Siteconf.site_name
%p 如果本次密码重设请求不是由你发起，你可以安全地忽略本邮件。
