<%= content_for :app do %>
  <div class="flex">
    <%= render 'layouts/navbar' %>
    <div class="w-full h-screen" style="margin-left: 260px;">
      <%= yield %>
    </div>
  </div>
<% end %>
<%= render template: 'layouts/application' %>
