<div class="flex h-screen">
  <div class="flex-grow bg-slate-50">
    <div class="flex gap-4 items-baseline  px-4 py-2">
      <div class="text-zinc-700 font-bold dark:text-zinc-300">所有成员</div>
      <div class="text-zinc-400 dark:text-zinc-400">金牌会员</div>
      <div class="text-zinc-400 dark:text-zinc-400">钻石会员</div>
    </div>
    <%= render 'explore' %>
  </div>
  <div class="">
    <%= render 'detail' %>
  </div>
</div>
