<%= content_for :nav_links do %>
  <div class="text-zinc-700 font-bold dark:text-zinc-300">所有成员</div>
  <div class="text-zinc-400 dark:text-zinc-400">金牌会员</div>
  <div class="text-zinc-400 dark:text-zinc-400">钻石会员</div>
<% end %>
<div class="flex h-screen">
  <div class="flex-grow">
    <%= render 'explore' %>
  </div>
  <div class="">
    <%= render 'detail' %>
  </div>
</div>
